<form action="/uploadPlanilha" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="value">Envie seu arquivo Excel</label>
        <input type="file" class="form-control" name="filetoupload" accept=".xlsx">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-dark">
    </div>
</form>